@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600;700;800&family=Dancing+Script:wght@700&family=Inter:wght@400;600&display=swap");
.dayCell {
  background-color: var(--color-background-9);
  border: 1px solid var(--color-border);
  color: var(--color-grey-light);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.markToday {
  background-color: #dc2626;
}

.wrongMonth {
  color: var(--color-grey-2);
}

.selectedDay {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.weekDay {
  color: var(--color-grey-light);
  margin-bottom: 0.5rem;
}

.showWeek {
  display: grid;
  grid-template-columns: 30px repeat(7, 1fr) 30px;
}

.showEntireMonth {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25px repeat(6, 40px);
}

.calendarGrid {
  text-align: center;
  background-color: var(--color-background-900);
  display: flex;
  flex-direction: column;
  position: relative;
}

.btnMonth {
  align-self: center;
  justify-self: center;
  fill: var(--color-grey-light);
  height: 24px;
  width: 24px;
  cursor: pointer;
}

/* .header {
  color: var(--color-grey-light);
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  font-size: 1.4rem;
  padding: 0 4%;
  padding-top: 1%;
  margin-bottom: 0.5rem;
} */
.toggleView {
  position: absolute;
  right: 3.5%;
  font-size: 1.3rem;
  cursor: pointer;
}

.calendar-icon {
  height: 28px;
  width: 28px;
}
.calendar-icon:hover {
  transition: 0.3s ease-out;
  fill: var(--color-green);
}

.close-icon {
  height: 28px;
  width: 28px;
}
.close-icon:hover {
  transition: 0.3s ease-out;
  fill: var(--color-green);
}

.btnWeek {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.dateMonth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  color: var(--color-grey-light);
  font-size: 1.4rem;
}

.goBack {
  cursor: pointer;
}

.logo {
  font-size: 3rem;
}

.rightHeader {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.wallet-icon {
  fill: var(--color-green);
  height: 32px;
  width: 32px;
}

.wallet {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--color-grey-light);
  font-weight: 600;
  font-size: 0, 8rem;
}

.stats-header {
  margin-bottom: 1rem;
}

.tracker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
}
.selected-date span {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.gain-loss {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.spendMoney,
.paycheck {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.spendMoney {
  fill: var(--color-red);
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0.6rem;
  height: 0.6rem;
  outline: none;
  font-size: 0.4rem;
  background-color: var(--color-grey-light);
  position: relative;
}

input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-green);
  border-radius: 50%;
}

input[type=radio]:checked {
  background-color: var(--color-border);
}

.day-by-day,
.monthTracker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.resetFilter {
  cursor: pointer;
}

.trackerPages {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}

.arrow {
  cursor: pointer;
}

select {
  padding: 0.4rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
select:focus {
  outline: none;
}

input {
  padding: 0.4rem;
  border-radius: 5px;
}
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.readOnly {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  color: red;
}

.track {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete {
  cursor: pointer;
}

.gain {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.loss {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.edit {
  background-color: var(--color-background-900);
  border: none;
  cursor: pointer;
  color: var(--color-grey-light);
}
.edit:hover {
  opacity: 0.7;
}

.inputs {
  display: flex;
}
.inputs > * {
  min-width: 10%;
  width: 25%;
}

.description {
  min-width: 50%;
}

.allApps {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 7vh;
  transform: translateX(-50%);
  width: 30%;
  justify-content: center;
  text-align: center;
}
.allApps > * {
  display: grid;
  place-content: center;
  width: 100%;
  color: var(--color-grey-light);
}

.budget-svg {
  fill: #16a34a;
  height: 45px;
  width: 45px;
}

.owers {
  color: var(--color-red);
  width: 85%;
}

.owers h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.ower {
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 8vh min-content 1fr 7vh;
  width: 95%;
  margin: 0 auto;
}

.logo {
  grid-column: 1/2;
  position: relative;
  top: 0.5rem;
}

.dateMonth {
  grid-column: 2/3;
}

.calendarGrid {
  grid-column: 2/3;
}

.tracker {
  grid-row: 3/4;
  grid-column: 2/3;
  color: white;
  padding: 1.5rem 0 0 0;
}

.allApps {
  grid-row: 4/5;
}

.initial-bank {
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  border: 1px solid var(--color-green);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.initial-bank-input {
  border: none;
  background-color: white;
  padding: 0.5rem;
}

.owers {
  margin-top: 2rem;
  grid-column: 1/2;
  grid-row: 2/4;
}

.stats {
  width: 80%;
  margin: 2rem auto;
  grid-column: 3/4;
  grid-row: 2/4;
  color: var(--color-grey-light);
  padding-left: 1.8rem;
}

.stat {
  cursor: pointer;
}

li {
  list-style: number;
}

.stats__selected-month {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

:root {
  --color-black-1: #1e1f21;
  --color-grey-1: #404040;
  --color-border: #464648;
  --color-grey-light: #dddcdd;
  --color-grey-2: #565759;
  --color-grey-light-2: #e6e6e6;
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #dc2626;
  --color-green: #16a34a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

button:disabled {
  opacity: 0.3;
}

body {
  background-color: var(--color-background-900);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: var(--color-green);
}

/*# sourceMappingURL=style.css.map */
