.weekDay {
  color: var(--color-grey-light);
  margin-bottom: 0.5rem;
}

.showWeek {
  display: grid;
  grid-template-columns: 30px repeat(7, 1fr) 30px;
}

.showEntireMonth {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25px repeat(6, 40px);
}

.calendarGrid {
  text-align: center;
  background-color: var(--color-background-900);
  display: flex;
  flex-direction: column;
  position: relative;
}

.btnMonth {
  align-self: center;
  justify-self: center;
  fill: var(--color-grey-light);
  height: 24px;
  width: 24px;
  cursor: pointer;
}
