:root {
  --color-black-1: #1e1f21;
  --color-grey-1: #404040;
  --color-border: #464648;
  --color-grey-light: #dddcdd;
  --color-grey-2: #565759;
  --color-grey-light-2: #e6e6e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--color-grey-1);
}

.dayCell {
  position: relative;
  border: 1px solid var(--color-border);
  padding: 2rem;
  color: white;
}

.today {
  background-color: red;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 20px;
}

.dayNumber {
  position: absolute;
  top: 8%;
  left: 8%;
  display: grid;
  place-content: center;
}

.header {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-grey-1);
  color: white;
}

.switchMonth {
  padding: 0.5rem;
  font-size: 1rem;
  color: orange;
  background-color: var(--color-grey-1);
  border: none;
  cursor: pointer;
}

.weekDay {
  color: var(--color-grey-light);
  margin-bottom: 0.5rem;
}

.currentMonth {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.disabled {
  opacity: 0.3;
}

.wrongMonth {
  color: var(--color-black-1);
}

/* Small GRID */

.small-week {
  display: grid;
  grid-template-columns: 30px repeat(7, 1fr) 30px;
}

.smallGrid {
  width: 50%;
  margin: auto;
  text-align: center;
}

.day-small {
  background-color: var(--color-grey-1);
  border: 1px solid var(--color-border);
  color: var(--color-grey-light);
}

.small-today {
  background-color: red;
}
