select {
  padding: 0.4rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &:focus {
    outline: none;
  }
}

input {
  padding: 0.4rem;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.readOnly {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  color: red;
}

.track {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete {
  cursor: pointer;
}

.gain {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.loss {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.edit {
  background-color: var(--color-background-900);
  border: none;

  cursor: pointer;
  color: var(--color-grey-light);

  &:hover {
    opacity: 0.7;
  }
}

.inputs {
  display: flex;

  & > * {
    min-width: 10%;
    width: 25%;
  }
}

.description {
  min-width: 50%;
}
