select {
  padding: 0.4rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &:focus {
    outline: none;
  }
}

input {
  padding: 0.4rem;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.three-inputs {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content 1fr max-content 2rem;
}

.four-inputs {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content 6rem 1fr 6rem 2rem;
}

.readOnly {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  color: red;
}

.track {
  display: flex;
  gap: 1rem;
}

.gain {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.loss {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

input[type="text"]:read-only {
  background-color: transparent;
}

select:disabled {
}
